.articles-list-container {
    display: flex;
    align-items: flex-start;
    .search-list-container {
        flex: 1 1 20%;
        min-height: 200px;
        background-color: #fafafa;
        padding: 20px 10px;
        margin-bottom: 30px;
        margin-right: 30px;
        box-shadow: 2px 1px 2px #888;
    }

    .articles-list {
        flex: 1 1 75%;
        .article-container {
            background-color: #fafafa;
            padding: 20px 10px;
            margin-bottom: 30px;
            box-shadow: 2px 1px 2px #888;

            .article {
                .body-container {
                    display: none;
                }
            }
        }

        .more-link {
            float: right;
            font-size: 12px;
            color: #0288D1;
            text-decoration: none;
        }
    }
}
