.articles-list .article-container {
  background-color: #fafafa;
  padding: 20px 10px;
  margin-bottom: 30px;
  box-shadow: 2px 1px 2px #888;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  .articles-list .article-container .article .body-container {
    display: none; }

.articles-list .more-link {
  float: right;
  font-size: 12px;
  color: #0288D1;
  text-decoration: none; }
