.article {
    .title {
        font-family: sans-serif;
        font-style: italic;
        font-size: 24px;
        padding: 5px;
    }
    .badges-list-container {
        text-align: left;
    }
}
