.badge {
  background-color: #F8BBD0;
  color: #333333;
  display: inline-block;
  font-family: sans-serif;
  font-size: 11px;
  border-radius: 7px;
  padding: 3px 6px;
  margin-right: 5px;
  cursor: pointer;
}
