.articles-list-container {
  display: flex;
  align-items: flex-start; }
  .articles-list-container .search-list-container {
    flex: 1 1 20%;
    min-height: 200px;
    background-color: #fafafa;
    padding: 20px 10px;
    margin-bottom: 30px;
    margin-right: 30px;
    box-shadow: 2px 1px 2px #888; }
  .articles-list-container .articles-list {
    flex: 1 1 75%; }
    .articles-list-container .articles-list .article-container {
      background-color: #fafafa;
      padding: 20px 10px;
      margin-bottom: 30px;
      box-shadow: 2px 1px 2px #888; }
      .articles-list-container .articles-list .article-container .article .body-container {
        display: none; }
    .articles-list-container .articles-list .more-link {
      float: right;
      font-size: 12px;
      color: #0288D1;
      text-decoration: none; }

.article .title {
  font-family: sans-serif;
  font-style: italic;
  font-size: 24px;
  padding: 5px; }

.article .sub-title .author {
  margin-right: 1em; }

.article .body {
  text-align: left;
  white-space: pre-wrap; }

.article .badges-list-container {
  text-align: left; }

.article-view {
  background-color: #fafafa;
  padding: 20px 10px;
  margin-bottom: 30px;
  box-shadow: 2px 1px 2px #888;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .article-view .delete-btn {
    color: #D32F2F;
    cursor: pointer;
    position: absolute;
    right: 25px; }

.article-form {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px; }
  .article-form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px; }
  .article-form input, .article-form textarea {
    box-sizing: border-box; }
  .article-form .body-container {
    flex-grow: 2;
    width: 80%; }
    .article-form .body-container textarea {
      resize: none;
      flex: 1 1 auto;
      width: 100%;
      font-size: 14px; }
  .article-form .title-container {
    width: 80%; }
    .article-form .title-container input {
      font-size: 16px;
      font-style: italic;
      padding: 10px;
      width: 100%; }
  .article-form .submit-container input {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none; }
    .article-form .submit-container input:hover {
      background-color: rgba(158, 158, 158, 0.2); }

.badge {
  background-color: #F8BBD0;
  display: inline-block;
  font-family: sans-serif;
  font-size: 11px;
  border-radius: 7px;
  padding: 2px 5px;
  margin-right: 5px;
  cursor: pointer; }

.login-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 1 100%;
  height: 100vh; }
  .login-form-container .login-form {
    display: flex;
    flex: 0 0 15%;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 30px 10px;
    margin-bottom: 30px;
    box-shadow: 2px 1px 2px #888; }
    .login-form-container .login-form > div {
      display: flex;
      justify-content: space-around; }
      .login-form-container .login-form > div input:not([type="submit"]) {
        display: flex;
        flex: 0 0 50%; }
  .login-form-container .submit-container input {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none; }
    .login-form-container .submit-container input:hover {
      background-color: rgba(158, 158, 158, 0.2); }

html, body, #root {
  height: 100%; }

.App {
  text-align: center;
  background-color: #EEEEEE;
  min-height: 100%; }

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: left; }
  .App-header .title {
    display: inline-block; }
  .App-header ul.menu {
    display: inline-block;
    list-style: none;
    margin: 0; }
    .App-header ul.menu li {
      display: inline-block;
      padding-right: 10px; }
    .App-header ul.menu li a {
      color: white; }
  .App-header .username {
    float: right;
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer; }
    .App-header .username a {
      color: white; }

.App-body {
  padding: 20px; }
