$header-height: 58px;

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  min-height: 100%;
  height: 100%;
}

.App-header {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 100;
}

.App-body {
  background-color: #EEEEEE;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 78px;
}
